<div class="current-conditions">
  <p class="city">{{ city }}</p>
  <div class="conditions">
    <div class="conditions-details">
      <div class="conditions-details-row">
        <p>Aktualna temperatura powietrza</p>
        <p class="conditions-details-value">2°C</p>
      </div>
      <div class="conditions-details-row">
        <p>Aktualna temperatura morza</p>
        <p class="conditions-details-value">3°C</p>
      </div>
      <div class="conditions-details-row">
        <p>Aktualny kierunek wiatru</p>
        <p class="conditions-details-value">N</p>
      </div>
      <div class="conditions-details-row">
        <p>Aktualna prędkość wiatru</p>
        <p class="conditions-details-value">55km/h</p>
      </div>
    </div>
    <p class="chance-percent">90%</p>
  </div>
  <p class="description">Szansa na znalezienie bursztynu to imponujące 90%! Nie trać czasu i ruszaj po bursztyn!</p>
  <p class="comming-soon">Dostępne wkrótce <br> w ofercie premium.</p>
</div>
