<div class="current-conditions">
  <p class="city">{{ city }}</p>
  <div class="conditions">
    <div class="conditions-details">
      <div class="conditions-details-row">
        <p>Aktualny kierunek wiatru</p>
        <p *ngIf="data" class="conditions-details-value">{{data.windDirection}}</p>
      </div>
      <div class="conditions-details-row">
        <p>Aktualna prędkość wiatru</p>
        <p *ngIf="data" class="conditions-details-value">{{data.windSpeed}}km/h</p>
      </div>
      <div class="conditions-details-row">
        <p>Aktualna temperatura morza</p>
        <p *ngIf="data" class="conditions-details-value">{{data.seaTemperature}}°C</p>
      </div>
      <div class="conditions-details-row">
        <p>Aktualna temperatura powietrza</p>
        <p *ngIf="data" class="conditions-details-value">{{data.airTemperature}}°C</p>
      </div>
    </div>
    <p *ngIf="prediction$ | async as prediction" class="chance-percent">{{prediction}}%</p>
  </div>
  <p *ngIf="prediction$ | async as prediction" class="description">Szansa na znalezienie bursztynu to {{prediction}}%!</p>
</div>
