<div class="container">
  <h1 class="title">O nas</h1>
  <ul class="text">
    <li class="item">
      Witajcie w świecie Bursztynoramy – aplikacji, która otwiera przed Wami tajemnice polskich plaż, kryjące w sobie skarby naturalne. Nasza zakładka "O nas" to miejsce, gdzie przybliżamy Wam filozofię i możliwości, jakie kryje nasza innowacyjna platforma.
    </li>
    <li class="item">
      Bursztynorama to nie tylko aplikacja, to interaktywna mapa, która gromadzi kluczowe informacje wpływające na szanse znalezienia bursztynu na polskim wybrzeżu Bałtyku. Dla Waszej wygody i efektywności, skupiamy się na 16 strategicznych miastach, dostarczając precyzyjnych danych na temat warunków atmosferycznych.
    </li>
    <li class="item">
      Co znajdziecie w naszej aplikacji? Wszystko, co wpływa na szanse znalezienia bursztynu! Temperatura morza, temperatura powietrza, prędkość wiatru, jego kierunek oraz aktualną fazę księżyca – to kluczowe wskaźniki, które gromadzimy dla Waszego komfortu.
    </li>
    <li class="item">
      Nie musicie już tracić czasu na przeszukiwanie kilku źródeł informacji. Bursztynorama przynosi Wam kompleksową analizę w jednym miejscu. Ponadto, nasza platforma umożliwia dostęp do odczytów od chwili obecnej aż do 7 dni wstecz, dając Wam pełny wgląd w zmienne warunki panujące na plaży.
    </li>
    <li class="item">
      Nowe dane, co godzinę – to kolejny atut naszej aplikacji. Śledzenie aktualizacji staje się prostsze niż kiedykolwiek wcześniej, a możliwość planowania poszukiwań bursztynu staje się bardziej precyzyjna.
    </li>
    <li class="item">
      Bursztynorama to nie tylko narzędzie, to pasja dzielenia się z Wami fascynacją odkrywania piękna ukrytego w naturze. Dołączcie do nas i razem poszukajmy skarbów ukrytych na polskim wybrzeżu!
    </li>
  </ul>
</div>
