<div class="container">
  <h1 class="title">O Bursztynoramie</h1>
  <ul class="text">
    <li class="item">
      Poznaj <strong>Bursztynoramę</strong> – aplikację, która otworzy przed Tobą świat bałtyckich skarbów. Dzięki niej dowiesz się, jak naturalne zjawiska wpływają na Twoje poszukiwania bursztynów na polskich plażach.
    </li>
    <li class="item">
      <strong>Bursztynorama</strong> to interaktywna mapa miast, która zbiera wszystkie informacje niezbędne do znalezienia bursztynu na polskim wybrzeżu Bałtyku. Aplikacja obejmuje 16 nadmorskich miast i dostarcza informacji o temperaturze powietrza, temperaturze morza, prędkości i kierunku wiatru oraz fazach księżyca.
    </li>
    <li class="item">
      <strong>Bursztynorama</strong> to jedyne takie narzędzie, które gromadzi wszystkie te dane w jednym miejscu, oszczędzając Twój czas. Możesz sprawdzić warunki wstecz nawet do 7 dni, a dane są aktualizowane co godzinę, dzięki czemu zawsze masz najświeższe informacje pod ręką.
    </li>
    <li class="item">
      <strong>Bursztynorama</strong> nieustannie się rozwija, a teraz w aplikacji znajdziesz także nową funkcję: wskaźnik szans na znalezienie bursztynu. To unikalne narzędzie pomoże Ci lepiej zaplanować poszukiwania, opierając się na bieżących warunkach atmosferycznych.
    </li>
    <li class="item">
      <strong>Bursztynorama</strong> to coś więcej niż aplikacja – to społeczność, która łączy pasjonatów przyrody i odkrywców. Dołącz do nas i wyrusz na plażę, by odkrywać skarby ukryte przez naturę.
    </li>
  </ul>
</div>
