<div class="container">
  <h1 class="title">O Bursztynoramie</h1>
  <ul class="text">
    <li class="item">
      Witajcie w świecie <strong>Bursztynoramy</strong> – aplikacji, która odkrywa sekrety polskich plaż, pełne naturalnych skarbów. Zakładka "O Bursztynoramie" to miejsce, gdzie poznasz filozofię i możliwości <strong>Bursztynoramy</strong>.
    </li>
    <li class="item">
      <strong>Bursztynorama</strong> to nie tylko aplikacja, to interaktywna mapa, która gromadzi informacje wpływające na szanse znalezienia bursztynu na polskim wybrzeżu Bałtyku. Dla wygody i efektywności, aplikacja dostarcza informacji o 16 nadbałyckich miastach, dostarczając precyzyjnych danych na temat warunków atmosferycznych.
    </li>
    <li class="item">
      Co znajdziecie w aplikacji? Wszystko, co wpływa na szanse znalezienia bursztynu! Temperatura morza, temperatura powietrza, prędkość wiatru, jego kierunek oraz aktualną fazę księżyca.
    </li>
    <li class="item">
      Nie musicie już tracić czasu na przeszukiwanie kilku źródeł informacji. <strong>Bursztynorama</strong> umożliwia Wam kompleksową analizę w jednym miejscu. Ponadto, nasza platforma umożliwia dostęp do odczytów od chwili obecnej aż do 7 dni wstecz, dając Wam pełny wgląd w zmienne warunki panujące na plaży.
    </li>
    <li class="item">
      Nowe dane, co godzinę – to kolejny atut <strong>Bursztynoramy</strong>. Śledzenie aktualizacji staje się prostsze niż kiedykolwiek wcześniej, a możliwość planowania poszukiwań bursztynu staje się bardziej precyzyjna.
    </li>
    <li class="item">
      <strong>NOWOŚĆ!</strong> Aplikacja cały czas się rozwija. Nowa zakładka w górnym lewym rogu aplikacji to Twój osobisty przewodnik po aktualnych warunkach atmosferycznych! Sprawdzisz tu w mgnieniu oka kierunek i prędkość wiatru, temperaturę powietrza i morza. A co najważniejsze – znajdziesz tu unikalny wskaźnik szans na znalezienie bursztynu! Dzięki niemu dowiesz się, z jakim prawdopodobieństwem uda Ci się znaleźć bursztyn, biorąc pod uwagę aktualne warunki pogodowe. Wszystko w jednym miejscu, zawsze pod ręką!
    </li>
    <li class="item">
      <strong>Bursztynorama</strong> to nie tylko narzędzie, to szansa na dzielenie się pasją odkrywania piękna ukrytego w naturze. Dołączcie do społeczności <strong>Bursztynoramy</strong> i razem poszukajmy skarbów ukrytych na polskim wybrzeżu!
    </li>
  </ul>
</div>
