.moon-image{
  width: 50%;
  align-self: center;
}

.title{
  font-size: 30px;
  font-weight: 600;
  margin: 20px;
  color: #FBFAEA;
  border-top: 2px solid #FBFAEA;
  padding-top: 20px;
}

.chart-container{
  color: #FBFAEA;
  display: flex;
  flex-direction: column;
}
