<div class="chart-container">
  <div class="chart-title">
  <p class="title chart-title-margin">Faza Księżyca</p>
  <app-popup [text]="'Podczas pełni Księżyca, gdy Ziemia, Księżyc i Słońce są ustawione w jednej linii, zwiększa się grawitacyjne oddziaływanie Księżyca na wodę morską, co powoduje przypływy. Szukanie bursztynu nad Bałtykiem jest możliwe zarówno podczas przypływu, gdy fale przynoszą bursztyn na brzeg, jak i podczas odpływu, gdy odsłania się dno morskie.'"></app-popup>
  </div>
    <img class="moon-image" [src]="getMoonPhaseFileName(moonPhase)" alt="moon-phase">
</div>
