<div class="chart-container">
  <div class="chart-title">
  <p class="title chart-title-margin">Faza Księżyca</p>
  <app-popup [text]="'Podczas pełni Księżyca, gdy jego tarcza jest w pełni oświetlona, plaża staje się jaśniejsza dzięki odbitemu światłu. Pływy, czyli regularne zmiany poziomu morza spowodowane grawitacyjnym oddziaływaniem Księżyca, na Bałtyku są słabo widoczne, choć w zatokach mogą być bardziej zauważalne. Fale natomiast wciąż mogą przynosić bursztyn na brzeg.'"></app-popup>
  </div>
    <img class="moon-image" [src]="getMoonPhaseFileName(moonPhase)" alt="moon-phase">
</div>
