<app-navigation></app-navigation>
<div class="container">
  <app-current-conditions class="current-conditions"></app-current-conditions>
  <app-map class="map"></app-map>
  <app-wind-speed class="wind-speed"></app-wind-speed>
  <app-sea-temperature class="sea-temperature"></app-sea-temperature>
  <app-air-temperature class="air-temperature"></app-air-temperature>
  <div class="under-map-container">
    <app-wind-direction></app-wind-direction>
    <app-moon-phase></app-moon-phase>
  </div>
</div>
