<div class="container">
  <app-current-conditions class="current-conditions" [city$]="city" [data$]="data" [prediction$]="prediction"></app-current-conditions>
  <app-map class="map" (cityIdChangedEvent)="changeCity($event)"></app-map>
  <app-wind-speed class="wind-speed" [data]="data"></app-wind-speed>
  <app-sea-temperature class="sea-temperature" [data]="data"></app-sea-temperature>
  <app-air-temperature class="air-temperature" [data]="data"></app-air-temperature>
  <div class="under-map-container">
    <app-wind-direction [data]="data"></app-wind-direction>
    <app-moon-phase [data]="moonPhase"></app-moon-phase>
  </div>
</div>


