<div class="chart-container">
  <div class="container-row">
    <div class="chart-title">
      <p class="chart-title-margin">Temperatura powietrza</p>
      <app-popup [text]="'Temperatura powietrza wpływa na temperaturę morza, które, im zimniejsze, tym gęstsze. To sprzyja wynoszeniu bursztynu na brzeg. Okres zimowy sprzyja poszukiwaczom bursztynu, ale oprócz temperatury istotne są także sztormy, mające kluczowy wpływ na ten proces.'"></app-popup>
    </div>
    <p class="conditions-details">{{ currentTemperature }}°C</p>
  </div>
  <canvas  id="air-temperature-chart" >{{ chart }}</canvas>
</div>
