.wind-direction-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  color: #FBFAEA;
  padding-top: 20px;
  font-size: 11px;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.direction{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon{
  &--s{
    transform: rotate(0deg);
  }
  &--ssw{
    transform: rotate(22.5deg);
  }
  &--sw{
    transform: rotate(45deg);
  }
  &--wsw{
    transform: rotate(67.5deg);
  }
  &--w{
    transform: rotate(90deg);
  }
  &--wnw{
    transform: rotate(112.5deg);
  }
  &--nw{
    transform: rotate(135deg);
  }
  &--nnw{
    transform: rotate(157.5deg);
  }
  &--n{
    transform: rotate(180deg);
  }
  &--nne{
    transform: rotate(202.5deg);
  }
  &--ne{
    transform: rotate(225deg);
  }
  &--ene{
    transform: rotate(247.5deg);
  }
  &--e{
    transform: rotate(270deg);
  }
  &--ese{
    transform: rotate(292.5deg);
  }
  &--se{
    transform: rotate(315deg);
  }
  &--sse{
    transform: rotate(337.5deg);
  }
  &--s{
    transform: rotate(360deg);
  }
}

.date{
  margin-top: 5px;
}

.chart-container{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.chart-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gg-arrow-left-o {
  margin-right: 20px;
  cursor: pointer;
  color: #FBFAEA;
}

.gg-arrow-right-o {
  margin-left: 20px;
  cursor: pointer;
  color: #FBFAEA;
}

.arrow-grayed {
  color: #A9A9A9;
  cursor: default;
}

.chart-title{
  font-size: 30px;
  font-weight: 600;
  color: #FBFAEA;
}

.container-row{
  font-size: 30px;
  font-weight: 600;
  color: #FBFAEA;
  border-top: 2px solid #FBFAEA;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.conditions-details{
  font-size: 20px;
  align-self: center;
  color: #82C6D4;
}

.chart-title {
  display: flex;
  align-items: flex-start;
}

.chart-title-margin {
  margin-right: 10px;
}
